[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
watchdog = "*"
pysentiment2 = "*"
tweepy = "*"
twitter-scraper = "*"

[dev-packages]

[requires]
python_version = "3.9"
